body {
    background: #222;
    color: #222;
    font-size: 12px;
    padding-top: 30px;
}

#chat {
    background-color: #FFF;
    height: 400px;
    width: 380px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -200px;
    border-radius: 10px;
    display: inline-block;
    padding: 25px;
}

#joinbtn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#join {
    width: 330px;
    position: absolute;
    bottom: 20px;

}

#joininput {
    font-size: 12px;
    letter-spacing: 2px;
}

#messagebtn {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#message {
    display: none;
    width: 330px;
    position: absolute;
    bottom: 20px;

}

#messageinput {
    font-size: 12px;
    letter-spacing: 1px;
}

.row {
    width: 300px;
    border-bottom: 1px #D4D4D4 dashed;
    margin: 0 0 6px 0;
    padding-bottom: 6px;
}

.name {
    color: #000;
    font-weight: bold;
}

.time {
    font-size: 11px;
    letter-spacing: 1px;
    color: grey;
    margin-top: 2px;
}

.status {
    color: #31b0d5;
    font-style: italic;

}

#chatmsgs {
    width: 330px;
    height: 300px;
    margin: 5px;
    text-align: center;
    overflow: auto;
}

#chatmsgs span {
    margin-left: 8px;
    text-align: left;
}

#disconnectchat {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 14px;
    display: none;
}

.fa-window-close-o {
    color: #31b0d5;
    font-size: 22px;
    cursor: pointer;
}